<div class="login-page row">
    <div class="form col">
        <div class="login">
            <div class="login-header">
                <h3>LOGIN</h3>
                <p *ngIf="!forgetPassError">Please enter your email.</p>
                <p class="ferr" *ngIf="forgetPassError">{{forgetPassError}}</p>
            </div>
        </div>
        <form class="login-form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgetPass(forgotPasswordForm.value)">
            <input type="text" placeholder="username" formControlName="username" />
            <button mat-raised-button>Submit</button>
        </form>
    </div>
</div>