.add-project-title {
    padding-bottom: 0px !important;
    color: #616161;
}

::ng-deep .mat-dialog-container {
    background: #fff;
    overflow-x: hidden;
}

.close-icon {
    position: absolute;
    right: 0px;
    font-size: 28px;
    cursor: pointer;
}

mat-form-field {
    width: 100%;
}

#hidden_content {
    display: none;
}

mat-form-field {
    width: 100%;
}

.submit-btn {
    background-color: #68bfbb;
    color: #00000070;
}

.Intrest-cls {
    display: none;
}

// mat-icon-stepper selected color change
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #68bfbb !important;
}

// input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #68bfbb !important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #68bfbb !important;
}

// mat-input error outline color
::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick {
    color: red !important;
    opacity: 0.8 !important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: #68bfbb !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: red !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: #68bfbb !important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #68bfbb !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red !important;
}

::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #68bfbb;
}

::ng-deep .mat-select-arrow {
    color: #68bfbb !important;
}

//datepicker customization
mat-datepicker-toggle {
    color: #68bfbb !important;
}

::ng-deep.mat-calendar-body-selected {
    background-color: #68bfbb !important;
}

::ng-deep.mat-expansion-panel {
    margin: 16px 0 !important;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #68bfbb;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #b3dfdc;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.8em 0em;
}

.fa-upload:before {
    content: "";
    color: #35c5be;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
}
.form-group {
    margin: 1rem 2rem;
}

.fa-upload {
    margin: 0rem 0.2rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.text-align {
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .btn:not(:disabled):not(.disabled) {
        width: 100%;
    }
    .text-align {
        text-align: center;
    }
    .property-heading {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 300px) {
    .text-align {
        font-size: 11px;
    }
}
