<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div>Forbidden
                    <div class="page-title-subheading">Tables are the backbone of almost all web applications.
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-6 card">
                <div class="card-body">
                   <p>Do not have access on this page</p>
                 
                   
                </div>
            </div>
        </div>
    </div>
</div>