
<div class="app-main__inner">
    <div class="app-page-title add-project-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                Edit Role  
            </div>
           <!-- <i class="pe-7s-close close-icon" (click)="close()"></i>  -->
          <mat-icon class="close-icon" (click)="close()">close</mat-icon>
           </div>
    </div>       

    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <form [formGroup]="editRoleForm" (ngSubmit)="submit(editRoleForm.value)">
                                <mat-form-field appearance="outline" id="NameField">
                                    <mat-label>Name<span class="starmandatory">*</span></mat-label>
                                    <input matInput formControlName="name"  placeholder=" ">
                                    <mat-error *ngIf="editRoleForm.get('name')?.touched">Name is required!</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput formControlName="description" placeholder=" "></textarea>
                                 </mat-form-field>

                           
                           
                                 <h4 class="permission_head">Permissions: </h4><hr>
                                 <h4 class="permission_head">Module: </h4>
                                 <div class="row">
                                     <div class="col-md-4" *ngFor="let k of
                                     module | keyvalue">
                                         <input type="checkbox" #checkboxes
                                             id="getCheck"
                                             (change)="getFeature(k.key,$event)"
                                             value="{{module.id}}" [checked]="k.value"
                                             class="input-class
                                             regular-checkbox"><span
                                             class="module_name"> {{k.key}}
                                         </span> <br>
                                     </div>
                                 </div>
                                 <div class="row feature-access-row">
                                     <div class="col-md-12">
                                         <h4 class="permission_head">Feature
                                             Access:</h4>
                                     </div>
                                 </div>

                                 <div class="row">
                                    <div class="col-md-12 ">
                                        <div *ngFor="let feature of newLeadArr">
                                            <ng-container *ngIf="isLead">
                                                <div class="acess_container">
                                                    
                                                    <h3 class="fe_name">{{feature.name}}</h3><br>
                                                    <div >
                                                        <p class="access_permissions">Create</p>
                                                        <mat-slide-toggle name="create" (change)="getCreate($event,feature.id)" [checked]="feature.create"></mat-slide-toggle>
                                                    </div>
                                                    <div >
                                                        <p class="access_permissions">Read</p>
                                                        <mat-slide-toggle name="read" (change)="getRead($event,feature.id)" [checked]="feature.read"></mat-slide-toggle>
                                                    </div>
                                                    <div>
                                                        <p class="access_permissions">Update</p>
                                                        <mat-slide-toggle name="update" (change)="getUpdate($event,feature.id)" [checked]="feature.update"></mat-slide-toggle>
                                                    </div>

                                                    <div >
                                                        <p class="access_permissions">Delete</p>
                                                        <mat-slide-toggle  name="delete" (change)="getDelete($event,feature.id)" [checked]="feature.delete"></mat-slide-toggle>
                                                    </div>
                                                    <div >
                                                        <p class="access_permissions">Full
                                                            Access</p>
                                                        <mat-slide-toggle  name="full_access" (change)="getFullAccess($event,feature.id)" [checked]="feature.fullAccess"></mat-slide-toggle>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div  *ngFor="let feature of newCollectionArr">
                                            <ng-container *ngIf="isCollection">
                                                <div class="acess_container ">
                                                    <h3 class="feature_name">{{feature.name}}</h3><br>
                                                    <div>
                                                        <p class="access_permissions">Create</p>
                                                        <mat-slide-toggle name="create" (change)="getCreate($event,feature.id)" [checked]="feature.create"></mat-slide-toggle>
                                                    </div>
                                                    <div>
                                                        <p class="access_permissions">Read</p>
                                                        <mat-slide-toggle name="read" (change)="getRead($event,feature.id)" [checked]="feature.read"></mat-slide-toggle>
                                                    </div>
                                                    <div>
                                                        <p class="access_permissions">Update</p>
                                                        <mat-slide-toggle name="update" (change)="getUpdate($event,feature.id)" [checked]="feature.update"></mat-slide-toggle>
                                                    </div>

                                                    <div>
                                                        <p class="access_permissions">Delete</p>
                                                        <mat-slide-toggle  name="delete" (change)="getDelete($event,feature.id)" [checked]="feature.delete"></mat-slide-toggle>
                                                    </div>
                                                    <div>
                                                        <p class="access_permissions">Full
                                                            Access</p>
                                                        <mat-slide-toggle  name="full_access" (change)="getFullAccess($event,feature.id)" [checked]="feature.fullAccess"></mat-slide-toggle>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div *ngFor="let feature of newMasterArr">
                                            <ng-container  *ngIf="isMaster">
                                                <div class="acess_container">
                                                    <h3 class="feature_name">{{feature.name}}</h3><br>
                                                    <div>
                                                        <p class="access_permissions">Create</p>
                                                        <mat-slide-toggle name="create" (change)="getCreate($event,feature.id)" [checked]="feature.create"></mat-slide-toggle>
                                                    </div>
                                                    <div>
                                                        <p class="access_permissions">Read</p>
                                                        <mat-slide-toggle name="read" (change)="getRead($event,feature.id)" [checked]="feature.read"></mat-slide-toggle>
                                                    </div>
                                                    <div>
                                                        <p class="access_permissions">Update</p>
                                                        <mat-slide-toggle name="update" (change)="getUpdate($event,feature.id)" [checked]="feature.update"></mat-slide-toggle>
                                                    </div>

                                                    <div>
                                                        <p class="access_permissions ">Delete</p>
                                                        <mat-slide-toggle  name="delete" (change)="getDelete($event,feature.id)" [checked]="feature.delete"></mat-slide-toggle>
                                                    </div>
                                                    <div>
                                                        <p class="access_permissions ">Full
                                                            Access</p>
                                                        <mat-slide-toggle  name="full_access" (change)="getFullAccess($event,feature.id)" [checked]="feature.fullAccess"></mat-slide-toggle>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <ng-container *ngFor="let feature of roleFeature">
                                <button *ngIf="feature.update == true" [disabled]="!editRoleForm.valid" type="submit" class="mt-1 btn btn-primary">Save</button>
                                </ng-container>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
       
    </div>
</div>


    

                                
