<div class="login-page row">
    <div class="form col">
        <div class="login">
            <div class="login-header">
                <h3>LOGIN</h3>
                <p>Please enter your new password.</p>
                <p style="color: brown;" *ngIf="err">{{err}}</p>
            </div>
        </div>
        <form class="login-form" [formGroup]="password" (ngSubmit)="submit(password.value)">
            <input type="password" placeholder="new password" formControlName="password1" />
            <input type="password" placeholder="confirm password" formControlName="password2" />
            <button mat-raised-button>login</button>
        </form>
    </div>
</div>