<div class="app-main__inner">
    <div class="app-page-title add-project-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                Add Profession
            </div>
            <!-- <i class="pe-7s-close close-icon" (click)="close()"></i> -->
            <mat-icon class="close-icon" (click)="close()">close</mat-icon>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <form [formGroup]="addProfessionForm" (ngSubmit)="submit(addProfessionForm.value)">
                                <mat-form-field appearance="outline" id="NameField">
                                    <mat-label>Name<span class="starmandatory">*</span></mat-label>
                                    <input matInput formControlName="name" placeholder=" " required>
                                    <mat-error *ngIf="addProfessionForm.get('name')?.touched">Name is required!</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Description</mat-label>                             
                                    <textarea matInput formControlName="description" placeholder=" "></textarea>
                                </mat-form-field>
                                <button type="submit" [disabled]="!addProfessionForm.valid"  class="mt-1 btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>