.add-project-title{
    padding-bottom:0px !important;
    color: #616161;
  
}

::ng-deep .mat-dialog-container{
    background:#fff;
    overflow-x: hidden;
}

.close-icon{
    position:absolute;
    right:0px;
    font-size: 28px;
    cursor: pointer;
}

mat-form-field {
    width: 100%;
}

#hidden_content {
    display: none;
}

mat-form-field {
    width: 100%;
}

.submit-btn {
    background-color: #68bfbb;
    color: #00000070;
}

.Intrest-cls {
    display: none;
}

// mat-icon-stepper selected color change 
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #68BFBB!important;
}



// input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #68BFBB!important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #68BFBB!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: red!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: #68BFBB!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: red!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: #68BFBB !important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #68BFBB!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}

::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #68BFBB;
}

::ng-deep .mat-select-arrow {
    color: #68BFBB !important;
}

//datepicker customization
mat-datepicker-toggle {
    color: #68BFBB !important;
}

 ::ng-deep.mat-calendar-body-selected {
    background-color: #68BFBB !important;
}

 ::ng-deep.mat-expansion-panel {
    margin: 16px 0 !important;
}

 ::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #68BFBB;
}

 ::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #b3dfdc;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .8em 0em;
}

.fa-upload:before {
    content: "";
    color: #35c5be;
    font-size: 20px;
    margin-top: 50px;
    cursor:pointer;
}
.form-group {
    
    margin: 1rem 2rem;
}

.fa-upload {
    margin: 0rem .2rem;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    width: 130px;
}

.doc-img-col{
    padding-top:3px;
    .doc-img{
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 55%);
}
.close-btn{
    background: #68bfbb;
    width: 18px;
    height: 18px;
    padding: 2px;
    border-radius: 42px;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 49px;
    left: 65px;
    cursor: pointer;
}
}
.viewPreBook{
    color: #499a97;
    text-decoration: underline;
    cursor: pointer;
}

.rupee {
    background-image: url(http://i.imgur.com/Fd7NROx.png);
    padding-left: 20px;
    background-size: 10px 15px;
    background-repeat: no-repeat;
    background-position: 5px ;
}

.existing-token-dropdown{
    box-shadow: 0 1px 5px #bfb8b8;
    padding: 10px;
    border-radius: 4px;
    ul{
        li{
            padding: 4px;
        }
        li:hover{
            cursor:pointer;
            background: #b9b9b9;
            color: white;
            border-radius: 3px;
            padding: 4px;
        }
    }
   }

   .no_record{
       color:#c51f1f;
   }
   @media only screen and (min-width: 200px) and (max-width: 767px) {
    // button.mt-1.btn.btn-primary {
    //     width: 100%;
    // }
    details
    {
        //width: 50%;
        right:100px
    }

    ::ng-deep.mat-dialog-container {
        height: 70vh !important;
    }
}

   