<!-- <div class="mat-dialog-container xyz"> -->
    <p>Do you realy want to delete it?</p>
    <!-- <button type="button" class="btn btn-primary"(click)="no()">Close</button>
<button type="button" class="btn btn-secondary" (click)="yes()">Done</button> -->

    <div class="alert-button-group sc-ion-alert-md">

        <button type="button" class="alert-button ion-focusable ion-activatable sc-ion-alert-md">
            <span class="alert-button-inner sc-ion-alert-md" (click)="no()">No</span>
        </button>

        <button type="button" class="alert-button ion-focusable ion-activatable sc-ion-alert-md">
            <span class="alert-button-inner sc-ion-alert-md" (click)="yes()">Yes</span>
        </button>

    </div>
<!-- </div> -->