.arrow_icon{
    position:relative;
    top:8px;
    cursor: pointer;
}

.phase-active{
    background-color: #e0f3ff !important;
    border-radius: 2px;
  }
  .mediaCheckVersion1
  {
        display:block;
  }
  .mediaCheckVersion2
  {
        display:none;
  }
  