.add-project-title {
    padding-bottom: 0px !important;
    color: #616161;
}

::ng-deep .mat-dialog-container {
    background: #fff;
    overflow-x: hidden;
}

.close-icon {
    position: absolute;
    right: 0px;
    font-size: 28px;
    cursor: pointer;
}

mat-form-field {
    width: 100%;
}

#hidden_content {
    display: none;
}

mat-form-field {
    width: 100%;
}

.submit-btn {
    background-color: #68bfbb;
    color: #00000070;
}

.Intrest-cls {
    display: none;
}

// mat-icon-stepper selected color change
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #68bfbb !important;
}

// input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #68bfbb !important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #68bfbb !important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: red !important;
    opacity: 0.8 !important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: #68bfbb !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: red !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: #68bfbb !important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #68bfbb !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red !important;
}

::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #68bfbb;
}

::ng-deep .mat-select-arrow {
    color: #68bfbb !important;
}

//datepicker customization
mat-datepicker-toggle {
    color: #68bfbb !important;
}

::ng-deep.mat-calendar-body-selected {
    background-color: #68bfbb !important;
}

::ng-deep.mat-expansion-panel {
    margin: 16px 0 !important;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #68bfbb;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #b3dfdc;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.profile-col {
    padding: 0rem 3rem 0rem 3rem;
}

.fa-user-circle {
    font-size: 9rem;
    color: #a9a9a94f;
}

img {
    height: 150px;
    width: 150px;
    // position: relative;
    // bottom: 9rem;
    border-radius: 50%;
}

.camera-icon {
    background: #68bfbb;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 20px;
    position: relative;
    top: 3rem;
    right: 1.5rem;
    color: white;
}
.highlight {
    position: relative;
    top: 50px;
    left: 60px;
    opacity: 0.6;
    border-radius: 50px;
}

.profile-div {
    text-align: center;
    height: 150px;
    width: 100%;
}

// adding css in .mat-form-field by kanchan
::ng-deep.mat-form-field-infix {
    padding: 0.8em !important;
}

::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0.6em !important;
}

@media only screen and (min-width: 768px) and (max-width: 1500px) {
    .camera-icon {
        background: #68bfbb;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 0.3rem;
        font-size: 20px;
        position: relative;
        top: -3rem;
        right: -4.2rem;
        color: white;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1550px) {
    .camera-icon {
        background: #68bfbb;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 0.3rem;
        font-size: 20px;
        position: relative;
        top: -3rem;
        right: -4.2rem;
        color: white;
    }
}

@media only screen and (max-width: 1000px) {
    .camera-icon {
        background: #68bfbb;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 0.3rem;
        font-size: 20px;
        position: relative;
        top: 3rem;
        right: 1.8rem;
        color: white;
    }
    .profile-col {
        max-width: 100%;
    }
    .profile-div {
        margin: 0rem 1rem;
    }
    .button-width {
        width: 100%;
    }
    .row {
        flex-direction: column;
    }
    .form-group {
        max-width: 100%;
    }
    .col-lg-4 {
        max-width: 100%;
    }
    .col-md-9 {
        max-width: 100%;
    }
}

@media only screen and (max-width: 326px) {
    img {
        height: 110px;
        width: 110px;
    }
    .profile-div {
        height: 130px;
        margin: 0rem 1rem;
    }
    .camera-icon {
        background: #68bfbb;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 0.3rem;
        font-size: 20px;
        position: relative;
        top: 3rem;
        right: 1.8rem;
        color: white;
    }
}
@media only screen and (max-width: 275px) {
    .profile-col {
    padding: 0rem;
    }
  }
  
mat-error {
    padding-top: 7px;
}

#deptErr {
    color: #bb373b;
    font-size: 12px;
    position: relative;
    bottom: 14px;
    left: 6px;
}

::ng-deep.mat-mini-fab.mat-primary{
    background-color: #68bfbb;
}