<div class="app-main__inner">
    <div class="app-page-title add-project-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                Edit Department
            </div>
            <!-- <i (click)="close()" class="pe-7s-close close-icon"></i> -->
            <mat-icon class="close-icon" (click)="close()">close</mat-icon>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <form [formGroup]="editDeptForm" (ngSubmit)="submit(editDeptForm.value)">
                                <mat-form-field appearance="outline" id="NameField">
                                    <mat-label>Name<span class="starmandatory">*</span></mat-label>
                                    <input matInput formControlName="name" placeholder=" ">
                                    <mat-error *ngIf="editDeptForm.get('name')?.touched">Name is required!</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Project<span class="starmandatory">*</span></mat-label>
                                    <mat-select formControlName="project_id">
                                        <!-- <mat-option value="">None</mat-option> -->
                                        <mat-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="editDeptForm.get('name')?.touched">Project is required!</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <input matInput formControlName="description" placeholder=" ">
                                   
                                </mat-form-field>
                                <ng-container *ngFor="let feature of deptFeature">
                                <button *ngIf="feature.update == true" type="submit" [disabled]="!editDeptForm.valid" class="mt-1 btn btn-primary">Save</button>
                                </ng-container>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>