.mat-form-field {
    margin: 0rem 0.5rem;
}

.fa-check-circle {
    float: right;
    color: #35c5be;
    position: relative;
    right: 6px;
    font-size: 20px;
}

::ng-deep.mat-dialog-container {
    padding: 17px;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.8em 0em;
}

@media only screen and (max-width: 900px) {
    .fa-check-circle {
        right: 0px;
    }
}